.footer {
    background-color: #343a40;
}

.footer .text-muted {
    color: #ffc107 !important;
}

.footer a.text-muted:hover {
    color: #fff !important;
}

.footer a.text-muted {
    color: #ffc107 !important;
}

.footer span{
    margin-left: 100px;
    background-color: #ffc107;
}